body {
    background-color: #1D2D3C;
}

header {
    background-color: #06131F;
    padding: 25px 0px;
}

header img {
    width: 64px;
}

.my_card {
    background-color: #112030;
    padding: 30px 60px;
    border-radius: 10px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}